.backImg{
    background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}
.childContent{
    border-radius:0 0 20px 20px ;
    background: white;
}