@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


html{
font-family:'Grape Nuts';
}
body{
    margin: 0;
    background:#a3c4f3;
}
#bro{
    background-color: white;
    padding: 80px;
    border-radius: 15px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    
}


.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
button:hover{
    background-color: blue;
}
label{
    padding-right: 10px;
}
.space{
    padding: 10px 0 10px 0 ;
    display: flex;
    justify-content: space-between;
}
.brot{
    display: flex;
    flex-direction: column;   
}
.btn{
    display: flex;
    justify-content: center;
    padding: 20px;
}
button{
    padding: 5px 30px 5px 30px;
    background-color: #a3c4f3 ;
    border: none;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-family: "Grape Nuts";
    font-size: large;
}
button:hover{
    transition: ease-in-out 0.3s background-color;
    transition: ease-in-out 0.3s color;
    color:black;
    background-color:#87a3c9  ;
    transform: translatey(-0.25em);
    cursor:pointer;
    box-shadow: #3e5472 0 0.5em 0.5em -0.2em; 
}
input{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
}
input:placeholder-shown{
    font-family:"sans serif";
    color: rgb(0, 0, 0);
    
}